<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Movies Finder</title>

<div th:replace="fragments/header :: header-css" />

</head>
<script type="text/javascript">
function init() {
	navigator.geolocation.getCurrentPosition(
			(p) => {
				document.getElementById("lat").value = p.coords.latitude 
				document.getElementById("lng").value = p.coords.longitude
			}, 
			(err) => {console.log(" ee ",err)}, 
			{
		   		enableHighAccuracy : true,
		   		timeout : 60000,
		   		maximumAge : 0
		    })
}
</script>
<body onload="init();">
	<div th:replace="fragments/header :: header" />
	
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">Top 10 movies search results</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<table class="table">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Title</th>
									<th scope="col" style="text-align: right">Popularity</th>
									<th scope="col" style="text-align: center">Since</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="movie : ${movies}">
									<tr>
										<td th:text="${movie.title}"></td>
										<td th:text="${#numbers.formatDecimal(movie.popularity, 0, 'COMMA', 2, 'POINT')}" style="text-align: right"></td>
										<td th:text="${#dates.format(movie.releaseDate, 'dd/MM/yyyy')}" style="text-align: center"></td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- /.container -->
	
	<div th:replace="fragments/footer :: footer" />

</body>
</html>